*.pyc
*.jpg
/backend/uploaded_pdfs
/backend/uploaded_videos
tesseract-ocr-w64-setup-5.5.0.20241111.exe
/frontend/node_modules/.bin
/backend/saved_test_cases
/backend/saved_test_cases
/frontend/node_modules
/frontend/node_modules
/frontend/node_modules
/frontend/node_modules
/frontend/node_modules
/frontend/node_modules
/frontend/node_modules
